In [ ]:
print(2 + 3)            # 5
print(7 + 11)           # 18

5
18

In [ ]:
# Does Python variable with Type concept?   YES
# Java --> Static (Compile time + Run time) + Strong type
# Python --> Dynamic (Run time only) + Strong type
x = 3
print(x)                # 3
print(type(x))          # <class 'int'>

x = 7.5
print(x)                # 7.5
print(type(x))          # <class 'float'>

x = 'hello'
print(x)                # hello
print(type(x))          # <class 'str'>

x = False
y = True
print(x)                # False
print(type(x))          # <class 'bool'>
print(y)                # False
print(type(y))          # <class 'bool'>

# int, float, str, bool

3
<class 'int'>
7.5
<class 'float'>
hello
<class 'str'>
False
<class 'bool'>
True
<class 'bool'>

In [ ]:
# str
name = 'John'
first_name = "Mary"
print(name)                      # John
print(first_name)                # Mary

print('abc')                     # abc
print("def")                     # def

# + and *
s = 'hello '
s = s * 3
print(s)                         # hello hello hello

s = s + 'hello '
print(s)                         # hello hello hello hello

s += "hello "
print(s)                         # hello hello hello hello hello

# java: find min and max (by 1 loop)
# python:  2 loops (call min function, call max function)

John
Mary
abc
def
hello hello hello
hello hello hello hello
hello hello hello hello hello

In [ ]:
result = 10 / 3
print(result)                    # 3.3333333333333335

# floating point issue
result2 = 0.2 + 0.1
print(result2)                   # 0.30000000000000004

# result3 = 10 / 0
# print (result3)
# ZeroDivisionError: division by zero

3.3333333333333335
0.30000000000000004

ZeroDivisionError: division by zero

In [ ]:
# Java charAt
word = "Python"     # char array / String
print(word[0])                             # P
print(word[-1])                            # n
print(word[-3])                            # h

# Java substring(0,3)
print(word[:3])                            # Pyt
print(word[4:])                            # on
print(word[2:3])                           # t

# Function
# Java instance method
print(word.lower())                        # python
print(word.upper())                        # PYTHON
print(word.replace('y', 'x'))              # Pxthon

P
n
h
Pyt
on
t
python
PYTHON
Pxthon

In [ ]:
csv_row = "apple,orange,lemon"
result = csv_row.split(",")
print(type(result))                         # <class 'list'>
print(result)                               # ['apple', 'orange', 'lemon']

new_csv_row = ", ".join(result)
print(new_csv_row)                          # apple, orange, lemon

<class 'list'>
['apple', 'orange', 'lemon']
apple, orange, lemon

In [ ]:
student_name = "Steven"
print(student_name.count('e'))
print(student_name.isdigit())          # False
print(student_name.isalpha())          # True
print(student_name.startswith("S"))    # True
print(student_name.startswith('s'))    # False
print(student_name.endswith("en"))     # True

score = "93"
print(score.isdigit())                 # True

2
False
True
True
False
True
True

In [ ]:
# Java System.out.println("hello" + name)
name = "Jennie"
age = 24
print(f"The student name is {name}, the age is {age}.")
# The student name is Jennie, the age is 24.

The student name is Jennie, the age is 24.