In [ ]:
# List
names = ["John", "Steven", "John", "Jennie", "Lucas"]
names.append("Leo")
names.remove("John")
print(names)                        # ['Steven', 'John', 'Jennie', 'Lucas', 'Leo']

names.insert(2, "Peter")
print(names)                        # ['Steven', 'John', 'Peter', 'Jennie', 'Lucas', 'Leo']

print(names[:4])                    # ['Steven', 'John', 'Peter', 'Jennie']

names.sort()
print(names)                        # ['Jennie', 'John', 'Leo', 'Lucas', 'Peter', 'Steven']

pop_result = names.pop(1)
print(pop_result)                   # John
print(names)                        # ['Jennie', 'Leo', 'Lucas', 'Peter', 'Steven']

names.clear()
print(names)                        # []
print(len(names))                   # 0

['Steven', 'John', 'Jennie', 'Lucas', 'Leo']
['Steven', 'John', 'Peter', 'Jennie', 'Lucas', 'Leo']
['Steven', 'John', 'Peter', 'Jennie']
['Jennie', 'John', 'Leo', 'Lucas', 'Peter', 'Steven']
John
['Jennie', 'Leo', 'Lucas', 'Peter', 'Steven']
[]
0

In [ ]:
list1 = ["apple", "orange"]
list2 = [3, -4, 100]
list3 = list1 + list2
print(list3)                 # ['apple', 'orange', 3, -4, 100]
print(type(list3))           # <class 'list'>

for e in list3:
  print(e)                   # apple
                             # orange
                             # 3
                             # -4
                             # 100

['apple', 'orange', 3, -4, 100]
<class 'list'>
apple
orange
3
-4
100

In [19]:
# set
ages = {2, 4, 9, -3}
print(type(ages))                     # <class 'set'>

ages.add(10)
print(ages)                           # {2, 4, 9, 10, -3}

ages.remove(4)
print(ages)                           # {2, p, 10, -3}

marksix = {9, 41, 4, 5, 40, 32}
ages.update(marksix)                   # combine and remove duplicate
print(ages)                            # {32, 2, 4, 5, 40, 9, 10, 41, -3}

set1 = {9, 4, 8}
set2 = {10, 4, 9, 0}
print(set1.intersection(set2))         # {9, 4}
print(set1)                            # {8, 9, 4}
print(set2)                            # {0, 9, 10, 4}

<class 'set'>
{2, 4, 9, 10, -3}
{2, 9, 10, -3}
{32, 2, 4, 5, 40, 9, 10, 41, -3}
{9, 4}
{8, 9, 4}
{0, 9, 10, 4}

In [22]:
person = {
  "name" : "John",
  "age" : 23,
  "height" : 1.76
}

print(type(person))                    # <class 'dict'>
print(person['age'])                   # 23
print(person['height'])                # 1.76
print(person['name'])                  # John

for k, v in person.items():
  print(f"key: {k}, value: {v}")       # key: name, value: John
                                       # key: age, value: 23
                                       # key: height, value: 1.76

print(person.keys())                   # dict_keys(['name', 'age', 'height'])
print(person.values())                 # dict_values(['John', 23, 1.76])

<class 'dict'>
23
1.76
John
key: name, value: John
key: age, value: 23
key: height, value: 1.76
dict_keys(['name', 'age', 'height'])
dict_values(['John', 23, 1.76])

In [ ]:
student = {
  12 : "John",
  "age" : 37,
  True : 20
}

print(student[True])     # 20
print(student['age'])    # 37
print(student[12])       # John

student[25] = False
print(student[25])       # False
print(student)           # {12: 'John', 'age': 37, True: 20, 25: False}

student.update({True : "Steven"})
print(student)           # {12: 'John', 'age': 37, True: 'Steven', 25: False}

student["books"] = ["ABC", "DEF", "IJK"]
print(student)           # {12: 'John', 'age': 37, True: 'Steven', 25: False, 'books': ['ABC', 'DEF', 'IJK']}

student["phones"] = {1234, 9000, 2222}
print(student)           
# {12: 'John', 'age': 37, True: 'Steven', 25: False, 'books': ['ABC', 'DEF', 'IJK'], 'phones': {9000, 1234, 2222}}}

print(type(student["phones"]))                    # <class 'set'>
print(type(student))                              # <class 'dict'>

20
37
John
False
{12: 'John', 'age': 37, True: 20, 25: False}
{12: 'John', 'age': 37, True: 'Steven', 25: False}
{12: 'John', 'age': 37, True: 'Steven', 25: False, 'books': ['ABC', 'DEF', 'IJK']}
{12: 'John', 'age': 37, True: 'Steven', 25: False, 'books': ['ABC', 'DEF', 'IJK'], 'phones': {9000, 1234, 2222}}
<class 'set'>
<class 'dict'>

In [ ]:
# List of dictionary
members = [
  {
    "name" : "John",
    "age" : 30
  },
  {
    "name" : "Mary",
    "phone" : "852 12345678"
  },
  {
    "name" : "Sally",
    "is_male" : False
  }
]

print(members)
# [{'name': 'John', 'age': 30}, {'name': 'Mary', 'phone': '852 12345678'}, {'name': 'Sally', 'is_male': False}]

[{'name': 'John', 'age': 30}, {'name': 'Mary', 'phone': '852 12345678'}, {'name': 'Sally', 'is_male': False}]

In [ ]:
# [] : list
# {} : set
# () with : and , --> dictionary
# () with , --> tuple

# tuple ( > 1 element)
salary = (20000, 25000)
print(type(salary))               # <class 'tuple'>

print(salary[0])                  # 20000
print(salary[1])                  # 25000

amount = (1500)
print(type(amount))               # <class 'int'>

elements \
= (True, 3, False, 40.9, ["ABC", "IJK"])
print(elements[4])                # ['ABC', 'IJK']

<class 'tuple'>
20000
25000
<class 'int'>
['ABC', 'IJK']